.AboutTextbox {
    border: 1px solid gray;
    padding: 8px;
}

.Title {
    text-align: center;
    text-transform: uppercase;
    color: rgb(11, 18, 75);
}

.Paragraph {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
}
